html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0;	padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } ol, ul { list-style: none; } .cf:before, .cf:after { content: " "; display: table; } .cf:after {clear: both;} .cf { *zoom: 1; }
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; } img { max-width: 100%; height: auto; vertical-align: middle; }

/*
font-family: 'Ideal Sans A', 'Ideal Sans B';
black: 2f2f2f
red: f04e2a
dk grey: 404040

Grid - 6 Col Grid
gutter: 4.5%;
2 col: 30.3333%

Thumbs:
364x243
564x277

*/

body {
	background: #efefef;
	background: #fff;
	font: 400 1em/1.5em  'Ideal Sans A', 'Ideal Sans B', Helvetica, Arial, serif;
}

/**========================================================
    LAYOUT
========================================================**/

.header, section, footer {
	position: relative;
	z-index: 99;
}

.wrapper {
	width: 94%;
	max-width: 1200px;
	margin: 0 auto;
}

.header {
	padding: 1.5em 0 1em;
	background: #f04e2a;
}

.hero {
	color: #fff;
	background: #f04e2a;
}

.hero .wrapper {
	padding: 3em 0;
}

.main {
	padding: 3em 0 2em;
	background: #fff;
}

footer {
	background: #efefef;
	color: #252525;
	text-align: center;
}

footer .wrapper {
	padding: 2em 0;
}

.left {	float: left; }
.right { float: right; }



/**========================================================
    TYPE
========================================================**/

h1,h2,h3,h4,h5 {
	line-height: 1;
}

h1 {
    font-size: 4.5px;
    font-weight: 600;
}

h2 {
	font-size: 3em;
	font-weight: 300;
	line-height: 1.125em;
}

h3 {
    color: #f04e2a;
    color: #404040;
    font-size: 2.625em;
    font-weight: 600;
}

a {
	color: #353430;
	border-bottom: 1px solid transparent;
	text-decoration: none;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}

.btn {
	display: inline-block;
    padding: 0.25em 0.75em;
	color: #fff;
	font-size: 1.125em;
	font-weight: 400;
	border: 2px solid #fff;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}

.btn:hover {
    background: #fff;
    color: #000;
}


/**========================================================
    HEADER
========================================================**/

.logo {
	float: left;
	max-width: 4.75em;
	position: relative;
}

nav {
	position: relative;
	float: right;
}

nav a {
    display: block;
    padding: 0.25em 0.75em;
	color: #fff;
	font-size: 1.125em;
	font-weight: 400;
	border: 2px solid #fff;
}

nav a:hover {
    background: #fff;
    color: #f04e2a;
}

nav a:first-of-type {
	margin-left: 0;
}

nav div {
	position: absolute;
	top: 2em;
	right: 6em;
	width: 1px;
	height: 2em;
	background: #333;
	-moz-transform: rotate(30deg);
}


/**========================================================
    CONTACT FORM
========================================================**/

.modal {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
}

.show {
	display: block;
}

.modal-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
}

.modal .wrapper {
	position: relative;
	z-index: 99;
	max-width: 35.625em; /* 570 */
	margin-top: 5%;
	padding: 1.75em 2.5%;
	background: #fff;
	border-radius: 3px;
}

.modal .close {
	position: absolute;
	top: 0.75em;
	right: 0.75em;
	border: none;
}

.modal .close:hover {
	border: none;
}

.modal h3 {
	margin-bottom: 0.25em;
}

.modal p {
    font-size: 1.125em;
    margin-bottom: 0.75em;
}

.form-item {
	margin-bottom: 0.75em;
}

label {
	display: block;
	font-size: 1.125em;
	line-height: 1.5em;
	font-weight: 700;
}

input[type="text"],input[type="email"],textarea {
	width: 100%;
	padding: 0.5em;
	border: 1px solid #ccc;
	border-radius: 5px;
	font: 400 1em/1.5em  'Ideal Sans A', 'Ideal Sans B', Helvetica, Arial, serif;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
}

input[type="text"]:focus,input[type="email"]:focus,textarea:focus {
	border-color: #353430;
}

button {
	cursor: pointer;
	width: 100%;
	padding: 0.4em 1em;
	background: #f04e2a;
	border: none;
	border-radius: 5px;
	color: #fff;
	font-size: 1.5em;
	font-weight: 700;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
	text-transform: uppercase;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
}

button:hover {
	background: #a4301d;
}


/**========================================================
    HERO
========================================================**/

.hero {
 	text-shadow: 1px 1px 0 rgba(0,0,0,0.1);
}

.hero h1 {
	margin-bottom: 0.1em;
	font-size: 5em;
}

.hero h2 {
    max-width: 1000px;
}

.hero p {
	margin-bottom: 0;
	font-size: 1em;
}

.hero .btn {
	background: #fdc210;
}


/**========================================================
    HOME
========================================================**/

.grid li {
	float: left;
	width: 28%;
	width: 30.333%;
	margin: 1.5em 4.5% 1.5em 0;
}

.grid li:nth-child(3n) {
	margin-right: 0;
}

.grid li:nth-child(3n+1) {
	clear: left;
}

.grid a {
	display: block;
}

.grid a:hover {
    color: #f04e2a;
}

.grid h4 {
    font-weight: 600;
	font-size: 1.3em;
}

.grid .thumb {
    position: relative;
	margin-bottom: 1em;
    text-align: center;
}

.grid .info {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 3em;
    background: rgba(0,0,0,0.8);
    color: #fff;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}

.grid .thumb:hover .info {
    opacity: 1;
}

.grid p {
    font-size: 1.25em;
    line-height: 1.5em;
}

.grid p:last-of-type {
    margin-bottom: 1em;
}

.grid .info .btn {
    font-size: 1.125em;
}


/**========================================================
    FOOTER
========================================================**/

footer a {
	border: none;
}

footer a:hover {
    color: #f04e2a;
}

footer a:hover {
	border: none;
}

footer li {
	display: inline-block;
	margin: 0 0.25em;
	font-size: 2em;
	line-height: 1em;
	text-shadow: none;
}

.copyright {
    float: left;
}

.social {
    float: right;
}


/** MEDIA QUERIES
========================================================****/

@media all and (max-width: 920px) {
	.hero { font-size: 87.5%; }
	.hero .wrapper { padding: 2em 0 3em; }
	.grid li { width: 47.75%; margin: 1.5em 4.5% 1.5em 0; }
	.grid li:nth-child(3n) { margin-right: 4.5%; }
	.grid li:nth-child(2n) { margin-right: 0; }
	.grid li:nth-child(3n+1) { clear: none; }
	.grid li:nth-child(2n+1) { clear: left; }
}

@media all and (max-width: 810px) {
    .hero { font-size: 75%; }
    .hero .wrapper { padding: 1.5em 0 2em; }
    .main { padding: 2em 0; }
    h3 { font-size: 2em; }
	.grid li { width: 47.75%; margin: 1.5em 4.5% 0.5em 0; }
	.grid .info { padding-top: 2em; }
    .grid p:last-of-type { margin-bottom: 0.5em; }
    .copyright, .social { float: none; }
    .copyright { margin-bottom: 1.5em; }
    footer .wrapper { padding: 1.5em 0; }
}

@media all and (max-width: 680px) {
    .hero { font-size: 50%; }
    .hero .wrapper { padding: 1.5em 0 3em; }
    .main { padding: 1.5em 0; }
    h3 { font-size: 2em; }
	.grid li { width: 47.75%; margin: 1.5em 4.5% 0.5em 0; }
	.gird .thumb { margin-bottom: 0.75em; }
	.grid .info { display: none; }
	.grid h4 { font-size: 1.125em; }
}

@media all and (max-width: 500px) {
    h3 { font-size: 1.75em; }
    .logo { max-width: 4em; padding-top: 0.2em; }
	.grid li { margin: 1em 4.5% 0.5em 0; }
    .grid .thumb { margin-bottom: 0.5em; }
/*
	.grid li { width: 100%; margin: 1.5em 0 0.5em; }
	.grid li:nth-child(3n) { margin-right: 0; }
	.grid li:nth-child(2n+1) { clear: none; }
*/
}
